<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @club.name %>
</p>

<p>
  <strong>Contact officer:</strong>
  <%= @club.contact_officer %>
</p>

<p>
  <strong>Date created:</strong>
  <%= @club.date_created %>
</p>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
